In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("age-depart-retraite.xlsx",skiprows=3)
df = df.iloc[0:18,[0,3]]
df= df.rename(columns={"Ensemble":"age-depart-retraite"})
df

   Année  age-depart-retraite
0   2021                62.57
1   2020                62.40
2   2019                62.31
3   2018                62.19
4   2017                62.12
5   2016                61.92
6   2015                61.68
7   2014                61.42
8   2013                61.23
9   2012                61.04
10  2011                60.71
11  2010                60.49
12  2009                60.47
13  2008                60.39
14  2007                60.47
15  2006                60.50
16  2005                60.55
17  2004                60.59

In [3]:
departement_code= ['16','17','19','23','24','33','40','47','64','79','86','87']
df_passing_dep = []
for dep in departement_code :
    df_dep = df.copy()
    df_dep["Code du département"] = dep
    df_passing_dep.append(df_dep)
len(df_passing_dep)

12

In [4]:
df_passing_dep[7]

   Année  age-depart-retraite Code du département
0   2021                62.57                  47
1   2020                62.40                  47
2   2019                62.31                  47
3   2018                62.19                  47
4   2017                62.12                  47
5   2016                61.92                  47
6   2015                61.68                  47
7   2014                61.42                  47
8   2013                61.23                  47
9   2012                61.04                  47
10  2011                60.71                  47
11  2010                60.49                  47
12  2009                60.47                  47
13  2008                60.39                  47
14  2007                60.47                  47
15  2006                60.50                  47
16  2005                60.55                  47
17  2004                60.59                  47

In [5]:
df_concat =  pd.concat(df_passing_dep)
df_concat

   Année  age-depart-retraite Code du département
0   2021                62.57                  16
1   2020                62.40                  16
2   2019                62.31                  16
3   2018                62.19                  16
4   2017                62.12                  16
..   ...                  ...                 ...
13  2008                60.39                  87
14  2007                60.47                  87
15  2006                60.50                  87
16  2005                60.55                  87
17  2004                60.59                  87

[216 rows x 3 columns]

In [6]:
df_concat.to_csv("age-depart-retraite.csv")