In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder

In [2]:
df = pd.read_csv("df_before_analysis.csv")
df

,Unnamed: 0,Année,age-depart-retraite,Code du département,Dépenses,Recettes,Déficit au sens de Maastricht,Inscrits,Abstentions,Votants,...,taux_pauvrete_seuil_50%,taux_pauvrete_seuil_60%,taux_pauvrete_seuil_70%,taux_chomage_ensemble,taux_chomage_15_24,taux_chomage_25_49,taux_chomage_50_+,taux_chomage_femme,taux_chomage_homme,Taux de natalité
0,0,1975.0,NaN,17,NaN,NaN,NaN,NaN,NaN,NaN,...,10.60000,17.000000,23.900000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1975.0,NaN,79,NaN,NaN,NaN,NaN,NaN,NaN,...,10.60000,17.000000,23.900000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,1975.0,NaN,19,NaN,NaN,NaN,NaN,NaN,NaN,...,10.60000,17.000000,23.900000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,1975.0,NaN,87,NaN,NaN,NaN,NaN,NaN,NaN,...,10.60000,17.000000,23.900000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,1975.0,NaN,24,NaN,NaN,NaN,NaN,NaN,NaN,...,10.60000,17.000000,23.900000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,667,2024.0,63.766656,47,57.3,51.9,-5.5,NaN,NaN,NaN,...,8.66093,14.765934,22.809003,7.4,18.4,6.9,4.9,7.4,7.4,9.5
668,668,2024.0,63.766656,64,57.3,51.9,-5.5,NaN,NaN,NaN,...,8.66093,14.765934,22.809003,5.7,14.1,5.3,4.1,5.7,5.8,9.5
669,669,2024.0,63.766656,79,57.3,51.9,-5.5,NaN,NaN,NaN,...,8.66093,14.765934,22.809003,5.3,14.1,4.7,3.4,5,5.5,9.5
670,670,2024.0,63.766656,23,57.3,51.9,-5.5,NaN,NaN,NaN,...,8.66093,14.765934,22.809003,7.0,19,6.7,4.6,6.5,7.5,9.5
671,671,2024.0,63.766656,33,57.3,51.9,-5.5,NaN,NaN,NaN,...,8.66093,14.765934,22.809003,6.5,15.7,5.8,4.6,6.5,6.6,9.5

In [3]:
df.columns

Index(['Unnamed: 0', 'Année', 'age-depart-retraite', 'Code du département',
       'Dépenses', 'Recettes', 'Déficit au sens de Maastricht', 'Inscrits',
       'Abstentions', 'Votants', 'Extreme Gauche', 'Gauche', 'Droite',
       'Extreme Droite', 'Autre', 'Election', 'esperance_vie_homme',
       'esperance_vie_femme', 'indicateur-fecondite', 'age-moyen-mere',
       'raport-inegalite-homme-femme', 'raport-inegalite-cadre-ouvrier',
       'Rapport interdécile (D9/D1)', 'rapport-inegalite-d9-d5',
       'rapport-inegalite-d5-d1', 'Taux inflation', 'nbr_emplois',
       'rapport-retraite', 'Population 0 à 19 ans', 'Population 20 à 39 ans',
       'Population 40 à 59 ans', 'Population 60 à 74 ans',
       'Population 75 ans et plus', 'Population Total',
       'taux-activite-15-24-femme', 'taux-activite-25-49-femme',
       'taux-activite-50-64-femme', 'taux-activite-65-69-femme',
       'taux-activite-15-24-homme', 'taux-activite-25-49-homme',
       'taux-activite-50-64-homme', 'taux-activite-65-69-homme',
       'taux-mortalite', 'taux_pauvrete_seuil_40%', 'taux_pauvrete_seuil_50%',
       'taux_pauvrete_seuil_60%', 'taux_pauvrete_seuil_70%',
       'taux_chomage_ensemble', 'taux_chomage_15_24', 'taux_chomage_25_49',
       'taux_chomage_50_+', 'taux_chomage_femme', 'taux_chomage_homme',
       'Taux de natalité'],
      dtype='object')

In [4]:
df=df[df['Election'].notnull()]

In [5]:
df['Année'].unique()

array([1994., 1995., 1997., 1999., 2002., 2004., 2007., 2009., 2012.,
       2014., 2017., 2019., 2022.])

In [6]:
df['Election'].unique()

array(['Europeenne', 'Présidentielle', 'Legislative'], dtype=object)

In [7]:
df["IsEuropeenne"] = np.where(df["Election"]=='Europeenne',1,0)
df["IsPresidentielle"] = np.where(df["Election"]=='Présidentielle',1,0)
df["IsLegislative"] = np.where(df["Election"]=='Legislative',1,0)
df.drop("Election",axis='columns',inplace=True)

/var/folders/6l/7z68vf196xjd9mbcdm1sw6pm0000gn/T/ipykernel_66593/2773955747.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["IsEuropeenne"] = np.where(df["Election"]=='Europeenne',1,0)
/var/folders/6l/7z68vf196xjd9mbcdm1sw6pm0000gn/T/ipykernel_66593/2773955747.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["IsPresidentielle"] = np.where(df["Election"]=='Présidentielle',1,0)
/var/folders/6l/7z68vf196xjd9mbcdm1sw6pm0000gn/T/ipykernel_66593/2773955747.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["IsLegislative"] = np.where(df["Election"]=='Legislative',1,0)
/var/folders/6l/7z68vf196xjd9mbcdm1sw6pm0000gn/T/ipykernel_66593/2773955747.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop("Election",axis='columns',inplace=True)

In [8]:
df[df['age-depart-retraite'].isnull()]

Empty DataFrame
Columns: [Unnamed: 0, Année, age-depart-retraite, Code du département, Dépenses, Recettes, Déficit au sens de Maastricht, Inscrits, Abstentions, Votants, Extreme Gauche, Gauche, Droite, Extreme Droite, Autre, esperance_vie_homme, esperance_vie_femme, indicateur-fecondite, age-moyen-mere, raport-inegalite-homme-femme, raport-inegalite-cadre-ouvrier, Rapport interdécile (D9/D1), rapport-inegalite-d9-d5, rapport-inegalite-d5-d1, Taux inflation, nbr_emplois, rapport-retraite, Population 0 à 19 ans, Population 20 à 39 ans, Population 40 à 59 ans, Population 60 à 74 ans, Population 75 ans et plus, Population Total, taux-activite-15-24-femme, taux-activite-25-49-femme, taux-activite-50-64-femme, taux-activite-65-69-femme, taux-activite-15-24-homme, taux-activite-25-49-homme, taux-activite-50-64-homme, taux-activite-65-69-homme, taux-mortalite, taux_pauvrete_seuil_40%, taux_pauvrete_seuil_50%, taux_pauvrete_seuil_60%, taux_pauvrete_seuil_70%, taux_chomage_ensemble, taux_chomage_15_24, taux_chomage_25_49, taux_chomage_50_+, taux_chomage_femme, taux_chomage_homme, Taux de natalité, IsEuropeenne, IsPresidentielle, IsLegislative]
Index: []

[0 rows x 56 columns]

In [9]:
def missing_values_table(df):
    mis_val = df.isnull().sum()
    mis_val_percent = 100 * df.isnull().sum() / len(df)
    mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
    mis_val_table_ren_columns = mis_val_table.rename(
    columns = {0 : 'Missing Values', 1 : '% of Total Values'})
    mis_val_table_ren_columns = mis_val_table_ren_columns[
        mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
    '% of Total Values', ascending=False).round(1)
    print ("Your selected dataframe has " + str(df.shape[1]) + " columns.\n"      
        "There are " + str(mis_val_table_ren_columns.shape[0]) +
            " columns that have missing values.")
    return mis_val_table_ren_columns

In [10]:
missing_values_table(df)

Your selected dataframe has 56 columns.
There are 0 columns that have missing values.

Empty DataFrame
Columns: [Missing Values, % of Total Values]
Index: []

In [11]:
df = pd.get_dummies(df, columns = ['Code du département'])
df.columns

Index(['Unnamed: 0', 'Année', 'age-depart-retraite', 'Dépenses', 'Recettes',
       'Déficit au sens de Maastricht', 'Inscrits', 'Abstentions', 'Votants',
       'Extreme Gauche', 'Gauche', 'Droite', 'Extreme Droite', 'Autre',
       'esperance_vie_homme', 'esperance_vie_femme', 'indicateur-fecondite',
       'age-moyen-mere', 'raport-inegalite-homme-femme',
       'raport-inegalite-cadre-ouvrier', 'Rapport interdécile (D9/D1)',
       'rapport-inegalite-d9-d5', 'rapport-inegalite-d5-d1', 'Taux inflation',
       'nbr_emplois', 'rapport-retraite', 'Population 0 à 19 ans',
       'Population 20 à 39 ans', 'Population 40 à 59 ans',
       'Population 60 à 74 ans', 'Population 75 ans et plus',
       'Population Total', 'taux-activite-15-24-femme',
       'taux-activite-25-49-femme', 'taux-activite-50-64-femme',
       'taux-activite-65-69-femme', 'taux-activite-15-24-homme',
       'taux-activite-25-49-homme', 'taux-activite-50-64-homme',
       'taux-activite-65-69-homme', 'taux-mortalite',
       'taux_pauvrete_seuil_40%', 'taux_pauvrete_seuil_50%',
       'taux_pauvrete_seuil_60%', 'taux_pauvrete_seuil_70%',
       'taux_chomage_ensemble', 'taux_chomage_15_24', 'taux_chomage_25_49',
       'taux_chomage_50_+', 'taux_chomage_femme', 'taux_chomage_homme',
       'Taux de natalité', 'IsEuropeenne', 'IsPresidentielle', 'IsLegislative',
       'Code du département_16', 'Code du département_17',
       'Code du département_19', 'Code du département_23',
       'Code du département_24', 'Code du département_33',
       'Code du département_40', 'Code du département_47',
       'Code du département_64', 'Code du département_79',
       'Code du département_86', 'Code du département_87'],
      dtype='object')

In [12]:
#array([1994, 1995, 1997, 1999, 2002, 2004, 2007, 2009, 2012, 2014, 2017, 2019, 2022])