In [1]:
import pandas as pd

In [2]:
years_available = [2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019]
departement_code= [16,17,19,23,24,33,40,47,64,59,86,87]

In [3]:
df_quartier = pd.read_excel('insecurite_quartier.xlsx')
df_renonce = pd.read_excel('insecurite_renonce.xlsx')
df_domicile = pd.read_excel('insecurite_domicile.xlsx')

In [4]:
serie_ensemble_quartier =df_quartier[df_quartier["Tranche d'age"]=="Ensemble"].T.iloc[:,0]
serie_ensemble_renonce =df_renonce[df_quartier["Tranche d'age"]=="Ensemble"].T.iloc[:,0]
serie_ensemble_domicile =df_domicile[df_quartier["Tranche d'age"]=="Ensemble"].T.iloc[:,0]

In [5]:
def create_dataframe_insecurite(serie_ensemble,type_insecurite):
    insecurite_femme = "Insecurite Femme " + type_insecurite
    insecurite_homme = "Insecurite Homme " + type_insecurite
    df = pd.DataFrame(columns=['Année','Code du département',insecurite_femme,insecurite_homme])
    for i in range(1,len(serie_ensemble),2):
        for y in range(len(years_available)):
            for z in range(len(departement_code)):
                row = {"Année":years_available[y],"Code du département":departement_code[z],insecurite_femme:serie_ensemble[i],insecurite_homme:serie_ensemble[i+1]}
                df.loc[len(df)] = row
    return df.reset_index()

In [6]:
df_clean_quartier =create_dataframe_insecurite(serie_ensemble_quartier,"quartier")
df_clean_renonce =create_dataframe_insecurite(serie_ensemble_renonce,"renonce")
df_clean_domicile =create_dataframe_insecurite(serie_ensemble_domicile,"domicile")

In [7]:
print(df_clean_renonce)

      index  Année  Code du département  Insecurite Femme renonce  \
0         0   2007                   16                     19.64
1         1   2007                   17                     19.64
2         2   2007                   19                     19.64
3         3   2007                   23                     19.64
4         4   2007                   24                     19.64
...     ...    ...                  ...                       ...
2023   2023   2019                   47                     17.21
2024   2024   2019                   64                     17.21
2025   2025   2019                   59                     17.21
2026   2026   2019                   86                     17.21
2027   2027   2019                   87                     17.21

      Insecurite Homme renonce
0                         4.16
1                         4.16
2                         4.16
3                         4.16
4                         4.16
...                        ...
2023                      4.09
2024                      4.09
2025                      4.09
2026                      4.09
2027                      4.09

[2028 rows x 5 columns]

In [8]:
df_insecurite_merged = pd.merge(df_clean_quartier, df_clean_renonce)
df_insecurite_merged = pd.merge(df_insecurite_merged,df_clean_domicile)
df_insecurite_merged

,index,Année,Code du département,Insecurite Femme quartier,Insecurite Homme quartier,Insecurite Femme renonce,Insecurite Homme renonce,Insecurite Femme domicile,Insecurite Homme domicile
0,0,2007,16,13.49,8.14,19.64,4.16,10.99,4.86
1,1,2007,17,13.49,8.14,19.64,4.16,10.99,4.86
2,2,2007,19,13.49,8.14,19.64,4.16,10.99,4.86
3,3,2007,23,13.49,8.14,19.64,4.16,10.99,4.86
4,4,2007,24,13.49,8.14,19.64,4.16,10.99,4.86
...,...,...,...,...,...,...,...,...,...
2023,2023,2019,47,14.14,8.23,17.21,4.09,10.11,4.86
2024,2024,2019,64,14.14,8.23,17.21,4.09,10.11,4.86
2025,2025,2019,59,14.14,8.23,17.21,4.09,10.11,4.86
2026,2026,2019,86,14.14,8.23,17.21,4.09,10.11,4.86
2027,2027,2019,87,14.14,8.23,17.21,4.09,10.11,4.86

In [9]:
df_insecurite_merged.to_csv("insecurite.csv")