In [34]:
import pandas as pd

In [35]:
column_names = ["Periode", "Taux de chômage", "Code"]

df_taux_chom = pd.read_csv('taux_chom_1982_2023_france.csv', delimiter=';', header=3, names=column_names)

df_taux_chom['Periode'] = pd.to_datetime(df_taux_chom['Periode'], format='%Y-T%m')


df_taux_chom['Taux de chômage'] = df_taux_chom['Taux de chômage'].astype(float)


df_taux_chom

       Periode  Taux de chômage Code
0   2023-03-01              7.2   SD
1   2023-02-01              7.0    A
2   2023-01-01              6.9    A
3   2022-04-01              7.0    A
4   2022-03-01              7.0    A
..         ...              ...  ...
162 1983-01-01              7.0    A
163 1982-04-01              7.0    A
164 1982-03-01              7.0    A
165 1982-02-01              6.8    A
166 1982-01-01              6.7    A

[167 rows x 3 columns]

In [36]:
df_taux_chom_filtered = df_taux_chom[df_taux_chom['Periode'].dt.year >= 1994]

In [37]:

df_taux_chom['Annee'] = df_taux_chom_filtered['Periode'].dt.year
df_yearly_avg = df_taux_chom.groupby('Annee').agg({'Taux de chômage': 'mean'}).reset_index()


df_yearly_avg.rename(columns={'Periode': 'annee'}, inplace=True)

df_yearly_avg_sorted = df_yearly_avg.sort_values(by='Annee', ascending=False)

In [38]:
df_yearly_avg_sorted

     Annee  Taux de chômage
29  2023.0         7.033333
28  2022.0         7.100000
27  2021.0         7.675000
26  2020.0         7.850000
25  2019.0         8.175000
24  2018.0         8.725000
23  2017.0         9.100000
22  2016.0         9.750000
21  2015.0        10.025000
20  2014.0         9.900000
19  2013.0         9.950000
18  2012.0         9.425000
17  2011.0         8.850000
16  2010.0         8.900000
15  2009.0         8.775000
14  2008.0         7.100000
13  2007.0         7.700000
12  2006.0         8.500000
11  2005.0         8.550000
10  2004.0         8.500000
9   2003.0         8.125000
8   2002.0         7.525000
7   2001.0         7.350000
6   2000.0         8.175000
5   1999.0         9.550000
4   1998.0         9.800000
3   1997.0        10.250000
2   1996.0        10.100000
1   1995.0         9.625000
0   1994.0        10.275000

In [39]:
df_yearly_avg_sorted.to_csv('taux_chom.csv', index=False)