In [18]:
import pandas as pd

In [19]:
column_names = ["Periode", "Taux de chômage", "Code"]

df_taux_chom = pd.read_csv('taux_chom_1982_2023_france.csv', delimiter=';', header=3, names=column_names)

df_taux_chom['Periode'] = pd.to_datetime(df_taux_chom['Periode'], format='%Y-T%m')


df_taux_chom['Taux de chômage'] = df_taux_chom['Taux de chômage'].astype(float)


df_taux_chom

       Periode  Taux de chômage Code
0   2023-03-01              7.2   SD
1   2023-02-01              7.0    A
2   2023-01-01              6.9    A
3   2022-04-01              7.0    A
4   2022-03-01              7.0    A
..         ...              ...  ...
162 1983-01-01              7.0    A
163 1982-04-01              7.0    A
164 1982-03-01              7.0    A
165 1982-02-01              6.8    A
166 1982-01-01              6.7    A

[167 rows x 3 columns]

In [20]:
df_taux_chom_filtered = df_taux_chom[df_taux_chom['Periode'].dt.year >= 1994]

In [21]:

df_taux_chom['Annee'] = df_taux_chom['Periode'].dt.year
df_yearly_avg = df_taux_chom.groupby('Annee').agg({'Taux de chômage': 'mean'}).reset_index()


df_yearly_avg.rename(columns={'Periode': 'annee'}, inplace=True)

In [22]:
df_yearly_avg

    Annee  Taux de chômage
0    1982         6.875000
1    1983         7.175000
2    1984         8.350000
3    1985         8.800000
4    1986         8.800000
5    1987         8.900000
6    1988         8.525000
7    1989         7.900000
8    1990         7.650000
9    1991         7.875000
10   1992         8.700000
11   1993         9.650000
12   1994        10.275000
13   1995         9.625000
14   1996        10.100000
15   1997        10.250000
16   1998         9.800000
17   1999         9.550000
18   2000         8.175000
19   2001         7.350000
20   2002         7.525000
21   2003         8.125000
22   2004         8.500000
23   2005         8.550000
24   2006         8.500000
25   2007         7.700000
26   2008         7.100000
27   2009         8.775000
28   2010         8.900000
29   2011         8.850000
30   2012         9.425000
31   2013         9.950000
32   2014         9.900000
33   2015        10.025000
34   2016         9.750000
35   2017         9.100000
36   2018         8.725000
37   2019         8.175000
38   2020         7.850000
39   2021         7.675000
40   2022         7.100000
41   2023         7.033333

In [23]:
df_yearly_avg.to_csv('taux_chom.csv', index=False)