In [17]:
import pandas as pd

In [18]:
column_names = ["Periode", "Taux de chômage", "Code"]

df_taux_chom = pd.read_csv('taux_chom_1982_2023_france.csv', delimiter=';', header=3, names=column_names)

df_taux_chom['Periode'] = pd.to_datetime(df_taux_chom['Periode'], format='%Y-T%m')


df_taux_chom['Taux de chômage'] = df_taux_chom['Taux de chômage'].astype(float)


df_taux_chom

       Periode  Taux de chômage Code
0   2023-03-01              7.2   SD
1   2023-02-01              7.0    A
2   2023-01-01              6.9    A
3   2022-04-01              7.0    A
4   2022-03-01              7.0    A
..         ...              ...  ...
162 1983-01-01              7.0    A
163 1982-04-01              7.0    A
164 1982-03-01              7.0    A
165 1982-02-01              6.8    A
166 1982-01-01              6.7    A

[167 rows x 3 columns]

In [19]:
df_taux_chom_filtered = df_taux_chom[df_taux_chom['Periode'].dt.year >= 1994]

In [20]:
df_codes = pd.read_csv('taux_chom_variab_1982_2023_france.csv', delimiter=';', header=None, skiprows=3, names=["Code", "Description"])

df_merged = pd.merge(df_taux_chom_filtered, df_codes, on="Code", how="left")

In [21]:
df_merged

       Periode  Taux de chômage Code             Description
0   2023-03-01              7.2   SD  Valeur semi-définitive
1   2023-02-01              7.0    A          Valeur normale
2   2023-01-01              6.9    A          Valeur normale
3   2022-04-01              7.0    A          Valeur normale
4   2022-03-01              7.0    A          Valeur normale
..         ...              ...  ...                     ...
114 1995-01-01              9.8    A          Valeur normale
115 1994-04-01             10.1    A          Valeur normale
116 1994-03-01             10.3    A          Valeur normale
117 1994-02-01             10.4    A          Valeur normale
118 1994-01-01             10.3    A          Valeur normale

[119 rows x 4 columns]

In [22]:
df_merged.to_csv('taux_chom.csv', index=False)