# Setup project

In [301]:
import pandas as pd
import numpy as np
import re

In [133]:
df_2010 = pd.read_csv('reces_2010_canton_ville_D.csv', sep=';', low_memory=False)

In [3]:
df_cantons = pd.read_csv('cantons_cleaned.csv')

In [198]:
DEPARTEMENTS = ['16',
                '17',
                '19',
                '23',
                '24',
                '33',
                '40',
                '47',
                '64',
                '79',
                '86',
                '87']
DEPARTEMENTS_INT = [int(numeric_string) for numeric_string in DEPARTEMENTS]

# Study dataset

In [11]:
df_2010.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4311337 entries, 0 to 4311336
Data columns (total 89 columns):
 #   Column       Dtype
---  ------       -----
 0   CANTVILLE    int64
 1   NUMMI        object
 2   AEMMR        object
 3   AGED         int64
 4   AGER20       int64
 5   AGEREV       int64
 6   AGEREVQ      int64
 7   ANAI         int64
 8   ANEMR        object
 9   APAF         object
 10  ARM          object
 11  ASCEN        object
 12  BAIN         object
 13  BATI         object
 14  CATIRIS      object
 15  CATL         object
 16  CATPC        int64
 17  CHAU         object
 18  CHFL         object
 19  CHOS         object
 20  CLIM         object
 21  CMBL         object
 22  COUPLE       int64
 23  CS1          int64
 24  CUIS         object
 25  DEPT         int64
 26  DEROU        object
 27  DIPL         object
 28  DNAI         object
 29  EAU          object
 30  EGOUL        object
 31  ELEC         object
 32  EMPL         object
 33  ETUD         int64
 34  GARL         object
 35  HLML         object
 36  ILETUD       object
 37  ILT          object
 38  IMMI         int64
 39  INAI         int64
 40  INATC        int64
 41  INFAM        object
 42  INPER        object
 43  INPERF       object
 44  IPONDI       object
 45  IRIS         object
 46  LIENF        object
 47  LPRF         object
 48  LPRM         object
 49  MATR         int64
 50  METRODOM     object
 51  MOCO         int64
 52  MODV         int64
 53  NA17         object
 54  NA5          object
 55  NAIDT        int64
 56  NBPI         object
 57  NE18FR       object
 58  NE24FR       object
 59  NE3FR        object
 60  NE6FR        object
 61  NENFR        object
 62  NPERR        object
 63  NUMF         object
 64  ORIDT        int64
 65  RECH         object
 66  REGION       int64
 67  SANI         object
 68  SANIDOM      object
 69  SEXE         int64
 70  SFM          object
 71  STATR        object
 72  STOCD        object
 73  SURF         object
 74  TACT         int64
 75  TACTD16      int64
 76  TACTMF       object
 77  TACTPF       object
 78  TP           object
 79  TRANS        object
 80  TRIRIS       object
 81  TYPC         object
 82  TYPFC        object
 83  TYPL         object
 84  TYPMC        object
 85  TYPMR        object
 86  VOIT         object
 87  WC           object
 88  departement  float64
dtypes: float64(1), int64(23), object(65)
memory usage: 2.9+ GB

In [6]:
df_2010.head()

,CANTVILLE,NUMMI,AEMMR,AGED,AGER20,AGEREV,AGEREVQ,ANAI,ANEMR,APAF,...,TP,TRANS,TRIRIS,TYPC,TYPFC,TYPL,TYPMC,TYPMR,VOIT,WC
0,101,1,6,58,64,57,55,1950,05,0,...,Z,Z,ZZZZZZ,2,Z,1,1,12,1,Z
1,101,2,6,55,54,54,50,1955,05,2,...,1,4,ZZZZZZ,1,2,1,4,41,3,Z
2,101,2,6,55,54,54,50,1955,05,1,...,1,4,ZZZZZZ,1,2,1,4,41,3,Z
3,101,3,9,45,54,44,40,1963,01,0,...,1,2,ZZZZZZ,2,Z,1,1,12,1,Z
4,101,4,9,58,64,57,55,1953,01,0,...,1,5,ZZZZZZ,3,Z,2,1,11,1,Z

In [7]:
df_2010['CANTVILLE'].value_counts()

CANTVILLE
6999    183960
3199    168310
3399     91213
4299     64985
3898     61222
         ...
8103       158
913        137
3893       116
4398        42
8140        35
Name: count, Length: 1082, dtype: int64

In [8]:
df_cantons.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 255 entries, 0 to 254
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Département      255 non-null    int64
 1   Canton-ou-ville  255 non-null    int64
dtypes: int64(2)
memory usage: 4.1 KB

# Start working on dataset

In [128]:
# add empty column for storing future department INSEE code
#df_2010["departement"] = np.nan

In [134]:
test = df_2010.sample(n=10)

In [154]:
test['annee'] = 2010

In [214]:
test

,CANTVILLE,NUMMI,AEMMR,AGED,AGER20,AGEREV,AGEREVQ,ANAI,ANEMR,APAF,...,TRANS,TRIRIS,TYPC,TYPFC,TYPL,TYPMC,TYPMR,VOIT,WC,annee
1551210,3356,5543,7,45,54,45,45,1964,04,0,...,4,330811,3,Z,2,1,12,1,Z,2010
2125233,4004,1314,9,25,24,24,20,1987,00,0,...,4,ZZZZZZ,3,Z,2,1,11,1,Z,2010
3995030,7499,1309,9,7,10,6,5,2002,02,3,...,Z,740021,3,2,2,4,41,1,Z,2010
4219987,8717,407,9,5,5,4,0,2006,02,3,...,Z,ZZZZZZ,1,2,1,4,41,2,Z,2010
4246735,8735,549,9,56,64,55,55,1956,03,2,...,4,ZZZZZZ,1,2,1,4,41,2,Z,2010
2464461,4312,394,7,61,64,60,60,1947,04,1,...,Z,ZZZZZZ,1,2,1,4,44,1,Z,2010
2106714,3899,1076,9,79,79,78,75,1929,02,0,...,Z,380411,3,Z,2,1,12,0,Z,2010
2213840,4098,2933,9,5,5,4,0,2005,02,3,...,Z,400061,1,1,1,3,32,1,Z,2010
598250,2327,33,7,58,64,57,55,1952,05,2,...,Z,ZZZZZZ,1,2,1,4,44,2,Z,2010
2272380,4213,738,8,16,17,15,15,1992,03,3,...,Z,ZZZZZZ,1,2,1,4,41,2,Z,2010

In [159]:
truc = test[test['CANTVILLE'].isin(df_cantons['Canton-ou-ville'])]
truc

,CANTVILLE,NUMMI,AEMMR,AGED,AGER20,AGEREV,AGEREVQ,ANAI,ANEMR,APAF,...,TRANS,TRIRIS,TYPC,TYPFC,TYPL,TYPMC,TYPMR,VOIT,WC,annee
2125233,4004,1314,9,25,24,24,20,1987,00,0,...,4,ZZZZZZ,3,Z,2,1,11,1,Z,2010
4219987,8717,407,9,5,5,4,0,2006,02,3,...,Z,ZZZZZZ,1,2,1,4,41,2,Z,2010
2213840,4098,2933,9,5,5,4,0,2005,02,3,...,Z,400061,1,1,1,3,32,1,Z,2010

In [267]:
merged_df = pd.merge(truc, df_cantons, how='left', left_on='CANTVILLE', right_on='Canton-ou-ville')

In [302]:
print(type(truc))
print(type(df_cantons))
print(type(merged_df))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

In [269]:
merged_df = merged_df.rename(columns={
    'Département': 'departement'
})

In [270]:
merged_df = merged_df.drop(columns=[
    'CANTVILLE', 
    'Canton-ou-ville',
    'NUMMI',
    'AEMMR',
    'AGEREV',
    'AGER20',
    'AGEREVQ',
    'ANAI',
    'ANEMR',
    'APAF',
    'ARM',
], errors='ignore')

In [319]:
def itertuples_impl(df):
  cutoff_date = datetime.date.today() + datetime.timedelta(days=2)

  return pd.Series(
    eisenhower_action(row.priority == 'HIGH', row.due_date <= cutoff_date)
    for row in df.itertuples()
  )
"""
def replace_letter_to_int(row, column):
    ascii = ord(row[column])
    row[column].replace(regex=r'[A-Z]', value=ascii)
    return row
"""
def letter_to_int(df, col):
    return df.apply(
        lambda row:
            replace_letter_to_int(row, col),
        axis=1
    )


def replace_letter_to_int(row, col):
    if isinstance(row[col], str): 
        ascii = ord(row[col])
        print(ascii)
        return re.sub(r'[A-Z]*', str(ascii), row[col])
    else:
        print("int")
        return row[col]
"""
n [28]: mymap = {'a':1, 'b':2, 'c':3, 'd':4, 'e':5}

In [29]: df.applymap(lambda s: mymap.get(s) if s in mymap else s)
"""

In [321]:
# merged_df = merged_df.apply(replace_letter_to_int, axis=1, result_type='broadcast', column='CATIRIS')

## merged_df['BATI'].value_counts()

In [217]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 79 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   AGED         3 non-null      int64
 1   ASCEN        3 non-null      object
 2   BATI         3 non-null      object
 3   CATIRIS      3 non-null      object
 4   CATL         3 non-null      object
 5   CATPC        3 non-null      int64
 6   CHAU         3 non-null      object
 7   CHFL         3 non-null      object
 8   CHOS         3 non-null      object
 9   CLIM         3 non-null      object
 10  CMBL         3 non-null      object
 11  COUPLE       3 non-null      int64
 12  CS1          3 non-null      int64
 13  CUIS         3 non-null      object
 14  DEPT         3 non-null      int64
 15  DEROU        3 non-null      object
 16  DIPL         3 non-null      object
 17  DNAI         3 non-null      object
 18  EAU          3 non-null      object
 19  EGOUL        3 non-null      object
 20  ELEC         3 non-null      object
 21  EMPL         3 non-null      object
 22  ETUD         3 non-null      int64
 23  GARL         3 non-null      object
 24  HLML         3 non-null      object
 25  ILETUD       3 non-null      object
 26  ILT          3 non-null      object
 27  IMMI         3 non-null      int64
 28  INAI         3 non-null      int64
 29  INATC        3 non-null      int64
 30  INFAM        3 non-null      object
 31  INPER        3 non-null      object
 32  INPERF       3 non-null      object
 33  IPONDI       3 non-null      object
 34  IRIS         3 non-null      object
 35  LIENF        3 non-null      object
 36  LPRF         3 non-null      object
 37  LPRM         3 non-null      object
 38  MATR         3 non-null      int64
 39  METRODOM     3 non-null      object
 40  MOCO         3 non-null      int64
 41  MODV         3 non-null      int64
 42  NA17         3 non-null      object
 43  NA5          3 non-null      object
 44  NAIDT        3 non-null      int64
 45  NBPI         3 non-null      object
 46  NE18FR       3 non-null      object
 47  NE24FR       3 non-null      object
 48  NE3FR        3 non-null      object
 49  NE6FR        3 non-null      object
 50  NENFR        3 non-null      object
 51  NPERR        3 non-null      object
 52  NUMF         3 non-null      object
 53  ORIDT        3 non-null      int64
 54  RECH         3 non-null      object
 55  REGION       3 non-null      int64
 56  SANI         3 non-null      object
 57  SANIDOM      3 non-null      object
 58  SEXE         3 non-null      int64
 59  SFM          3 non-null      object
 60  STATR        3 non-null      object
 61  STOCD        3 non-null      object
 62  SURF         3 non-null      object
 63  TACT         3 non-null      int64
 64  TACTD16      3 non-null      int64
 65  TACTMF       3 non-null      object
 66  TACTPF       3 non-null      object
 67  TP           3 non-null      object
 68  TRANS        3 non-null      object
 69  TRIRIS       3 non-null      object
 70  TYPC         3 non-null      object
 71  TYPFC        3 non-null      object
 72  TYPL         3 non-null      object
 73  TYPMC        3 non-null      object
 74  TYPMR        3 non-null      object
 75  VOIT         3 non-null      object
 76  WC           3 non-null      object
 77  annee        3 non-null      int64
 78  departement  3 non-null      int64
dtypes: int64(20), object(59)
memory usage: 2.0+ KB

In [233]:
merged_df.head()

,AGED,ASCEN,BATI,CATIRIS,CATL,CATPC,CHAU,CHFL,CHOS,CLIM,...,TRIRIS,TYPC,TYPFC,TYPL,TYPMC,TYPMR,VOIT,WC,annee,departement
0,25,2,Z,H,1,0,Z,3,Z,Z,...,ZZZZZZ,3,Z,2,1,11,1,Z,2010,40
1,5,2,Z,Z,1,0,Z,2,Z,Z,...,ZZZZZZ,1,2,1,4,41,2,Z,2010,87
2,5,2,Z,H,1,0,Z,2,Z,Z,...,400061,1,1,1,3,32,1,Z,2010,40