In [1]:
import pandas as pd
import numpy as np

In [34]:
df_2010 = pd.read_csv('reces_2010_canton_ville_D.csv', sep=';',  low_memory=False)

SyntaxError: unterminated string literal (detected at line 2) (2703119604.py, line 2)

In [115]:
df_cantons = pd.read_csv('cantons_cleaned.csv')

In [45]:
DEPARTEMENTS = ['16',
                '17',
                '19',
                '23',
                '24',
                '33',
                '40',
                '47',
                '64',
                '79',
                '86',
                '87']
DEPARTEMENTS_INT = [int(numeric_string) for numeric_string in DEPARTEMENTS]

In [8]:
df_2010.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4311337 entries, 0 to 4311336
Data columns (total 88 columns):
 #   Column     Dtype
---  ------     -----
 0   CANTVILLE  int64
 1   NUMMI      object
 2   AEMMR      object
 3   AGED       int64
 4   AGER20     int64
 5   AGEREV     int64
 6   AGEREVQ    int64
 7   ANAI       int64
 8   ANEMR      object
 9   APAF       object
 10  ARM        object
 11  ASCEN      object
 12  BAIN       object
 13  BATI       object
 14  CATIRIS    object
 15  CATL       object
 16  CATPC      int64
 17  CHAU       object
 18  CHFL       object
 19  CHOS       object
 20  CLIM       object
 21  CMBL       object
 22  COUPLE     int64
 23  CS1        int64
 24  CUIS       object
 25  DEPT       int64
 26  DEROU      object
 27  DIPL       object
 28  DNAI       object
 29  EAU        object
 30  EGOUL      object
 31  ELEC       object
 32  EMPL       object
 33  ETUD       int64
 34  GARL       object
 35  HLML       object
 36  ILETUD     object
 37  ILT        object
 38  IMMI       int64
 39  INAI       int64
 40  INATC      int64
 41  INFAM      object
 42  INPER      object
 43  INPERF     object
 44  IPONDI     object
 45  IRIS       object
 46  LIENF      object
 47  LPRF       object
 48  LPRM       object
 49  MATR       int64
 50  METRODOM   object
 51  MOCO       int64
 52  MODV       int64
 53  NA17       object
 54  NA5        object
 55  NAIDT      int64
 56  NBPI       object
 57  NE18FR     object
 58  NE24FR     object
 59  NE3FR      object
 60  NE6FR      object
 61  NENFR      object
 62  NPERR      object
 63  NUMF       object
 64  ORIDT      int64
 65  RECH       object
 66  REGION     int64
 67  SANI       object
 68  SANIDOM    object
 69  SEXE       int64
 70  SFM        object
 71  STATR      object
 72  STOCD      object
 73  SURF       object
 74  TACT       int64
 75  TACTD16    int64
 76  TACTMF     object
 77  TACTPF     object
 78  TP         object
 79  TRANS      object
 80  TRIRIS     object
 81  TYPC       object
 82  TYPFC      object
 83  TYPL       object
 84  TYPMC      object
 85  TYPMR      object
 86  VOIT       object
 87  WC         object
dtypes: int64(23), object(65)
memory usage: 2.8+ GB

In [71]:
df_2010.head()

,CANTVILLE,NUMMI,AEMMR,AGED,AGER20,AGEREV,AGEREVQ,ANAI,ANEMR,APAF,...,TRANS,TRIRIS,TYPC,TYPFC,TYPL,TYPMC,TYPMR,VOIT,WC,departement
0,101,1,6,58,64,57,55,1950,05,0,...,Z,ZZZZZZ,2,Z,1,1,12,1,Z,NaN
1,101,2,6,55,54,54,50,1955,05,2,...,4,ZZZZZZ,1,2,1,4,41,3,Z,NaN
2,101,2,6,55,54,54,50,1955,05,1,...,4,ZZZZZZ,1,2,1,4,41,3,Z,NaN
3,101,3,9,45,54,44,40,1963,01,0,...,2,ZZZZZZ,2,Z,1,1,12,1,Z,NaN
4,101,4,9,58,64,57,55,1953,01,0,...,5,ZZZZZZ,3,Z,2,1,11,1,Z,NaN

In [70]:
df_2010["departement"] = np.nan

In [10]:
df_2010['CANTVILLE'].value_counts()

CANTVILLE
6999    183960
3199    168310
3399     91213
4299     64985
3898     61222
         ...
8103       158
913        137
3893       116
4398        42
8140        35
Name: count, Length: 1082, dtype: int64

In [119]:
df_cantons.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 255 entries, 0 to 254
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Département      255 non-null    int64
 1   Canton-ou-ville  255 non-null    int64
dtypes: int64(2)
memory usage: 4.1 KB

1. Prendre le code canton du recens et voir s'il est dans la table cantons
2. Si oui on garde la row
3. Si non on suppr la row
4. On ajoute le dep à la colonne departement

In [130]:
def canton_to_dep_NA(row):
    canton_recens = int(row['CANTVILLE'])
    canton_row = df_cantons.loc[df_cantons['Canton-ou-ville'] == canton_recens]
    departement_canton = canton_row['Département']
    if departement_canton != np.nan:  
        row['departement'] = departement_canton
        print(row['departement'])
        print(departement_canton)
    else:
        pass

In [76]:
test = df_2010.sample(n=10)
test

,CANTVILLE,NUMMI,AEMMR,AGED,AGER20,AGEREV,AGEREVQ,ANAI,ANEMR,APAF,...,TRANS,TRIRIS,TYPC,TYPFC,TYPL,TYPMC,TYPMR,VOIT,WC,departement
3661316,6999,87607,9,17,17,16,15,1995,02,3,...,Z,690791,3,1,2,3,32,1,Z,NaN
184450,313,506,9,91,80,90,90,1917,02,0,...,Z,ZZZZZZ,1,Z,1,1,12,0,Z,NaN
436082,1244,120,8,51,54,50,50,1960,03,1,...,4,ZZZZZZ,1,2,1,4,41,2,Z,NaN
674943,2442,66,4,80,80,80,80,1929,07,0,...,Z,ZZZZZZ,2,Z,1,1,12,1,Z,NaN
1276414,3217,290,9,28,29,27,25,1984,02,2,...,Z,ZZZZZZ,2,2,1,4,42,2,Z,NaN
181355,312,158,9,5,5,4,0,2004,02,3,...,Z,ZZZZZZ,2,2,1,4,41,2,Z,NaN
1540894,3355,4701,9,25,24,24,20,1986,00,1,...,4,ZZZZZZ,2,2,1,4,41,2,Z,NaN
4221051,8718,47,6,58,64,57,55,1952,05,1,...,4,ZZZZZZ,1,2,1,4,41,2,Z,NaN
170941,307,960,9,43,54,42,40,1969,02,2,...,4,ZZZZZZ,1,2,1,4,41,2,Z,NaN
2700245,6332,67,7,84,80,83,80,1926,04,2,...,Z,ZZZZZZ,1,2,1,4,42,1,Z,NaN

In [127]:
df_cantons.loc[df_cantons['Canton-ou-ville'] == 8718]

     Département  Canton-ou-ville
249           87             8718

In [131]:
df = test.apply(canton_to_dep_NA, axis=1)

Series([], Name: Département, dtype: int64)
Series([], Name: Département, dtype: int64)
Series([], Name: Département, dtype: int64)
Series([], Name: Département, dtype: int64)
Series([], Name: Département, dtype: int64)
Series([], Name: Département, dtype: int64)
Series([], Name: Département, dtype: int64)
Series([], Name: Département, dtype: int64)
Series([], Name: Département, dtype: int64)
Series([], Name: Département, dtype: int64)
Series([], Name: Département, dtype: int64)
Series([], Name: Département, dtype: int64)
Series([], Name: Département, dtype: int64)
Series([], Name: Département, dtype: int64)
249    87
Name: Département, dtype: int64
249    87
Name: Département, dtype: int64
Series([], Name: Département, dtype: int64)
Series([], Name: Département, dtype: int64)
Series([], Name: Département, dtype: int64)
Series([], Name: Département, dtype: int64)

In [132]:
test

,CANTVILLE,NUMMI,AEMMR,AGED,AGER20,AGEREV,AGEREVQ,ANAI,ANEMR,APAF,...,TRANS,TRIRIS,TYPC,TYPFC,TYPL,TYPMC,TYPMR,VOIT,WC,departement
3661316,6999,87607,9,17,17,16,15,1995,02,3,...,Z,690791,3,1,2,3,32,1,Z,NaN
184450,313,506,9,91,80,90,90,1917,02,0,...,Z,ZZZZZZ,1,Z,1,1,12,0,Z,NaN
436082,1244,120,8,51,54,50,50,1960,03,1,...,4,ZZZZZZ,1,2,1,4,41,2,Z,NaN
674943,2442,66,4,80,80,80,80,1929,07,0,...,Z,ZZZZZZ,2,Z,1,1,12,1,Z,NaN
1276414,3217,290,9,28,29,27,25,1984,02,2,...,Z,ZZZZZZ,2,2,1,4,42,2,Z,NaN
181355,312,158,9,5,5,4,0,2004,02,3,...,Z,ZZZZZZ,2,2,1,4,41,2,Z,NaN
1540894,3355,4701,9,25,24,24,20,1986,00,1,...,4,ZZZZZZ,2,2,1,4,41,2,Z,NaN
4221051,8718,47,6,58,64,57,55,1952,05,1,...,4,ZZZZZZ,1,2,1,4,41,2,Z,NaN
170941,307,960,9,43,54,42,40,1969,02,2,...,4,ZZZZZZ,1,2,1,4,41,2,Z,NaN
2700245,6332,67,7,84,80,83,80,1926,04,2,...,Z,ZZZZZZ,1,2,1,4,42,1,Z,NaN