In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("fecondite.xlsx",skiprows=3).rename(columns={"Unnamed: 0":"Année","Indicateur conjoncturel de fécondité (1) (pour 100 femmes)":"indicateur-fecondite","Âge moyen des mères (2) (en années)":"age-moyen-mere"})
df= df.iloc[0:31,:]
df = df[["Année",'indicateur-fecondite', 'age-moyen-mere']]
df

   Année  indicateur-fecondite  age-moyen-mere
0   1994                 168.3            28.8
1   1995                 173.0            28.9
2   1996                 175.0            29.0
3   1997                 174.5            29.1
4   1998                 177.9            29.3
5   1999                 180.8            29.3
6   2000                 189.3            29.3
7   2001                 189.5            29.3
8   2002                 188.1            29.4
9   2003                 189.1            29.5
10  2004                 191.5            29.5
11  2005                 193.8            29.6
12  2006                 199.7            29.7
13  2007                 197.7            29.8
14  2008                 200.7            29.8
15  2009                 200.4            29.9
16  2010                 202.9            29.9
17  2011                 201.0            30.0
18  2012                 200.8            30.1
19  2013                 198.8            30.2
20  2014                 199.0            30.3
21  2014                 199.9            30.3
22  2015                 195.5            30.4
23  2016                 192.4            30.5
24  2017                 189.3            30.5
25  2018                 187.0            30.6
26  2019                 186.3            30.7
27  2020                 181.7            30.8
28  2021                 183.1            30.9
29  2022                 179.4            31.0
30  2023                 167.6            31.0

In [3]:
departement_code= ['16','17','19','23','24','33','40','47','64','79','86','87']
df_passing_dep = []
for dep in departement_code :
    df_dep = df.copy()
    df_dep["Code du département"] = dep
    df_passing_dep.append(df_dep)
len(df_passing_dep)

12

In [4]:
df_concat =  pd.concat(df_passing_dep)
df_concat

   Année  indicateur-fecondite  age-moyen-mere Code du département
0   1994                 168.3            28.8                  16
1   1995                 173.0            28.9                  16
2   1996                 175.0            29.0                  16
3   1997                 174.5            29.1                  16
4   1998                 177.9            29.3                  16
..   ...                   ...             ...                 ...
26  2019                 186.3            30.7                  87
27  2020                 181.7            30.8                  87
28  2021                 183.1            30.9                  87
29  2022                 179.4            31.0                  87
30  2023                 167.6            31.0                  87

[372 rows x 4 columns]

In [5]:
df_concat.to_csv("fecondite.csv")