In [1]:
import pandas as pd

In [2]:
df_infla =  pd.read_excel('inflation.xlsx')
departement_code= [16,17,19,23,24,33,40,47,64,79,86,87]

In [3]:
df_infla.loc[len(df_infla.index)] = [2024, 3.3]  
df_infla = df_infla.sort_values("Année")
df_infla_clean =  pd.DataFrame(columns=['Année','Code du département',"Taux inflation"])
df_infla=df_infla.reset_index(drop=True)
df_infla

     Année  Taux d'inflation
0   1991.0               3.2
1   1992.0               2.4
2   1993.0               2.1
3   1994.0               1.6
4   1995.0               1.8
5   1996.0               2.0
6   1997.0               1.2
7   1998.0               0.6
8   1999.0               0.5
9   2000.0               1.7
10  2001.0               1.6
11  2002.0               1.9
12  2003.0               2.1
13  2004.0               2.1
14  2005.0               1.7
15  2006.0               1.7
16  2007.0               1.5
17  2008.0               2.8
18  2009.0               0.1
19  2010.0               1.5
20  2011.0               2.1
21  2012.0               2.0
22  2013.0               0.9
23  2014.0               0.5
24  2015.0               0.0
25  2016.0               0.2
26  2017.0               1.0
27  2018.0               1.8
28  2019.0               1.1
29  2020.0               0.5
30  2021.0               1.6
31  2022.0               5.2
32  2023.0               4.9
33  2024.0               3.3

In [4]:
years = df_infla["Année"]
inflation = df_infla["Taux d'inflation"]
for i in range(len(years)):
    for y in range (len(departement_code)):
        row = {"Année":years[i],"Code du département":departement_code[y],"Taux inflation":inflation[i]}
        df_infla_clean.loc[len(df_infla_clean)] = row
df_infla_clean

      Année  Code du département  Taux inflation
0    1991.0                   16             3.2
1    1991.0                   17             3.2
2    1991.0                   19             3.2
3    1991.0                   23             3.2
4    1991.0                   24             3.2
..      ...                  ...             ...
403  2024.0                   47             3.3
404  2024.0                   64             3.3
405  2024.0                   79             3.3
406  2024.0                   86             3.3
407  2024.0                   87             3.3

[408 rows x 3 columns]

In [5]:
df_infla_clean.to_csv("inflation.csv")