In [1]:
import pandas as pd

In [2]:
df_infla =  pd.read_excel('inflation.xlsx')
departement_code= [16,17,19,23,24,33,40,47,64,79,86,87]

In [3]:
years = df_infla["Année"]
inflation = df_infla["Taux d'inflation"]
df_infla.loc[len(df_infla.index)] = [2024, 3.3]  
df_infla = df_infla.sort_values("Année")
df_infla_clean =  pd.DataFrame(columns=['Année','Code du département',"Taux inflation"])
df_infla

     Année  Taux d'inflation
32  1991.0               3.2
31  1992.0               2.4
30  1993.0               2.1
29  1994.0               1.6
28  1995.0               1.8
27  1996.0               2.0
26  1997.0               1.2
25  1998.0               0.6
24  1999.0               0.5
23  2000.0               1.7
22  2001.0               1.6
21  2002.0               1.9
20  2003.0               2.1
19  2004.0               2.1
18  2005.0               1.7
17  2006.0               1.7
16  2007.0               1.5
15  2008.0               2.8
14  2009.0               0.1
13  2010.0               1.5
12  2011.0               2.1
11  2012.0               2.0
10  2013.0               0.9
9   2014.0               0.5
8   2015.0               0.0
7   2016.0               0.2
6   2017.0               1.0
5   2018.0               1.8
4   2019.0               1.1
3   2020.0               0.5
2   2021.0               1.6
1   2022.0               5.2
0   2023.0               4.9
33  2024.0               3.3

In [4]:
for i in range(len(years)):
    for y in range (len(departement_code)):
        row = {"Année":years[i],"Code du département":departement_code[y],"Taux inflation":inflation[i]}
        df_infla_clean.loc[len(df_infla_clean)] = row
df_infla_clean

     Année  Code du département  Taux inflation
0     2023                   16             4.9
1     2023                   17             4.9
2     2023                   19             4.9
3     2023                   23             4.9
4     2023                   24             4.9
..     ...                  ...             ...
391   1991                   47             3.2
392   1991                   64             3.2
393   1991                   79             3.2
394   1991                   86             3.2
395   1991                   87             3.2

[396 rows x 3 columns]

In [5]:
df_infla_clean.to_csv("inflation.csv")