In [1]:
import pandas as pd

In [2]:
df_infla =  pd.read_excel('inflation.xlsx')
departement_code= [16,17,19,23,24,33,40,47,64,59,86,87]

In [3]:
years = df_infla["Année"]
inflation = df_infla["Taux d'inflation"]
df_infla_clean =  pd.DataFrame(columns=['Année','Code du département',"Taux inflation"])

In [4]:
for i in range(len(years)):
    for y in range (len(departement_code)):
        row = {"Année":years[i],"Code du département":departement_code[y],"Taux inflation":inflation[i]}
        df_infla_clean.loc[len(df_infla_clean)] = row
df_infla_clean

     Année  Code du département  Taux inflation
0     2023                   16             4.9
1     2023                   17             4.9
2     2023                   19             4.9
3     2023                   23             4.9
4     2023                   24             4.9
..     ...                  ...             ...
391   1991                   47             3.2
392   1991                   64             3.2
393   1991                   59             3.2
394   1991                   86             3.2
395   1991                   87             3.2

[396 rows x 3 columns]

In [5]:
df_infla_clean.to_csv("inflation.csv")